doctype html
html(lang="en")
  head
    title thype!
    link(rel='stylesheet' type='text/css' href='css/bulma.css')
    script(src='bundle.js')
  body
    section(class='hero')
      .hero-body
        .container
          h1(class='title') Hero title
          h2(class='subtitle') Hero subtitle
    
    .container
      .notification
      | This container is <strong>centered</strong> on desktop.

    .contianer.welcome
    .contianer.user

  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script.
    $(".welcome").html(welcome({message: "From Chrome welcome"}))
    $(".user").html(user({message: "From Chrome user"}))