doctype html
html(lang="en")
  head
    title Let's thype!!
    link(rel='stylesheet' type='text/css' href='css/bulma.css')
    script(src='bundle.js')
  body
    section.hero.has-text-centered.is-bold.is-info
      div.hero-head
        div.container
          nav.nav
            div.nav-left
              a.nav-item.is-brand(href='#') 
                h1(class='title') THYPE!!
      div.hero-body
        div.container
          h1.title Welcome ^_^ Let's thype
    br

    section
      div.container
        div.tile.is-ancestor          
          div.tile.is-parent.is-vertical.is-2
            article.tile.is-child.notification.is-danger
              p.title Stat
              p.subtitle Player statistics
            
            
            nav.panel.tile.is-child.is-warning
              p.panel-heading History
              a.panel-block Match 01
              a.panel-block Match 02
              a.panel-block Match 03
              a.panel-block Match 04              
          div.tile.is-parent.is-8.is-vertical
            div.box.tile.is-child
              p.title Play area
              div.has-text-centered
                a.button.is-info New Thype
              div.typee-content
            article.tile.is-child.notification.is-light
              p.title Typee Info
              p Lorem Ipsum            
            
          div.tile.is-parent.is-vertical.is-2
            article.tile.is-child.notification.is-info
              p.title User profile
              p.subtitle Guest
           
            article.tile.is-child.notification.is-success
              p.title Friend list
              p.subtitle User's friend list

  script(src='http://code.jquery.com/jquery-1.11.1.js')